<?xml version="1.0" encoding="utf-8"?>
<Configurations>
  <Bpm key="BPM">
    <Upper>120</Upper>
    <Lower>30</Lower>
  </Bpm>
  <Temperature key="Temperature">
    <Upper>39</Upper>
    <Lower>37</Lower>
  </Temperature>
  <Pressure key="Pressure">
    <Upper>160</Upper>
    <Lower>120</Lower>
  </Pressure>
  <BloodOxygen key="BloodOxygen">
    <Upper>99</Upper>
    <Lower>94</Lower>
  </BloodOxygen>
  <Language>en</Language>
</Configurations>